<div fxLayout='column' fxLayoutGap='20px' fxLayoutAlign='space-evenly'>
  <pizza-toppings></pizza-toppings>
  <app-tjs-addition></app-tjs-addition>
  <app-jdivision></app-jdivision>
  <app-dh-squareroot></app-dh-squareroot>
  <rwm-rpsls></rwm-rpsls>
  <trumpipsum></trumpipsum>
  <app-bo-multiplication></app-bo-multiplication>
  <app-dc-square></app-dc-square>
  <app-slackntell6></app-slackntell6>
  <app-dln-multiply></app-dln-multiply>
  <app-ssoper></app-ssoper>
  <app-zpc-subtract></app-zpc-subtract>
</div>
