
<mat-card>
    
  
      <mat-card-title>
        Bo's multiplication content
      </mat-card-title>
  
    <mat-card-content>
  
  
        <div ng-app="CalculatorApp" ng-controller="CalculatorController">
            <p><input type="number" [(ngModel)] = 'numberOne'>
              &nbsp;
              *
             &nbsp;
            <input type="number" [(ngModel)] = 'numberTwo'> <button (click)='docalculation()' style='background-color: grey;'>  = </button> &nbsp;
            {{ result }}
          </p>
           
        </div>
  
       
    </mat-card-content>
  </mat-card>
  