<div>
    <h3>Pizza Toppings</h3>
    <a href='#' (click)='checkAll()'>All</a> | <a href='#' (click)='uncheckAll()'>None</a>
    <p *ngFor='let t of availablePizzaToppings'>
        <input (change)='recalculateTotal()' type="checkbox" [(ngModel)]='t.checked'> {{ t.name }} ({{ t.price | currency }})
    </p>
    <p>
        <button *ngIf='false' (click)='calculateTotal()'>Calculate Total</button>
    </p>
    <h3>
        Total: {{ total | currency }}
        <span *ngIf='showWarning' style='color: red; font-size: 0.66em;'>(Don't forget to choose some toppings!)</span>
    </h3>
</div>