<mat-card>

<mat-card-title>Topping</mat-card-title>

<mat-card-content>
    <button mat-button (click)='checkAll()'>all</button>  | <button mat-button  (click)='uncheckAll()'>None</button>
    <p *ngFor='let t of availablePizzaToppings'>

    <mat-checkbox  (change)='recalculateTotal'  type="checkbox" [(ngModel)]='t.checked'>
        {{ t.name }} ({{ t.price | currency }})

    </mat-checkbox>
  </p>
    
    <p>
      <button *ngIf='false' (click)='calculateTotal()'>Calculate Total</button>
    </p>
    <h3>
      Total: {{ total | currency }}  
      
      <span *ngIf = 'showWarning' style='color : red; font-size: 0.66em;'> (Donot forget to choose some toppings)</span>
    
    
    
    
    </h3>

</mat-card-content>


</mat-card>